annotated-types==0.7.0
black==24.10.0
click==8.1.7
compress-pickle==2.1.0
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
iniconfig==2.0.0
isort==5.13.2
kiwisolver==1.4.5
lz4==4.3.3
matplotlib==3.9.1
matplotlib-fontja==1.0.0
mypy==1.11.2
mypy-extensions==1.0.0
numpy==2.0.1
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.1.2
pytest==8.3.2
python-dateutil==2.9.0.post0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
scipy==1.14.0
semver==3.0.2
six==1.16.0
typing_extensions==4.12.2
